//* Mine Variables *//

$background-primary: #219c90;
$primary-color: #e9b824;
$secondary-color: #d83f31;
$tertiary-color: #ee9322;

$primary-font: "Press Start 2P", sans-serif;
$secondary-font: "Lobster";
