.display-start {
  font-size: 35px !important;
  color: black;
  display: none;
  font-family: $primary-font;
  text-align: center;
}
.display-off {
  font-size: 40px !important;
  color: black;
  font-family: $primary-font;
  display: none;
}
.schermo-acceso {
  background-color: #ade4ff !important;
}
