.display-start {
  font-size: 40px !important;
  color: #d83f31;
  display: none;
}
.display-off {
  font-size: 40px !important;
  color: black;
  display: none;
}
.schermo-acceso {
  background-color: #a8e2ff !important;
}
