.titolo {
  color: #d83f31;
  text-align: center;
  font-family: $secondary-font;
  font-size: 80px;
  letter-spacing: 7px;
  padding-top: 50px;
  padding-bottom: 35px;
  text-shadow: 1px 1px white, -1px -1px #444;
}
